doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
        

        form(method='POST' action='/home/update')
            div.form-group
                label(for='password') Author:
                input#password.form-control(type='password' placeholder='password' name='password' required='true' )
            button.btn.btn-primary(type='submit') Submit
      div(class='row')
        h4=#{currentUser.name}
        h3=#{currentUser.emailid}
        h3=#{currentUser.password}
        
      //- div(class='row')
      //-   ul
      //-   each user in allUsers
      //-     li 
      //-       a(href=user.name) #{user.name} 
      //-   else
      //-     li There are no users.
      
        if errors 
            ul
            for error in errors
                li!= error.msg